In [84]:
import pandas as pd

In [100]:
with open('day1.txt') as f:
    indata = f.read()

In [101]:
data = [ list(map(int,x.split())) for x in indata.split('\n\n') ]

In [102]:
s = pd.Series(data, index=range(len(data)))

In [103]:
df = pd.DataFrame(s, index=range(len(data)), columns=['snacks'])
df.head()

                                              snacks
0              [2494, 8013, 1055, 5425, 9104, 10665]
1  [10642, 10677, 10300, 7374, 9085, 8508, 7569, ...
2         [5300, 5960, 8252, 5852, 4308, 9991, 6367]
3  [1361, 5356, 6114, 3379, 5996, 3822, 3785, 162...
4  [4892, 6648, 3022, 6063, 5436, 2174, 4264, 200...

In [104]:
df['total'] = df['snacks'].apply(sum)

In [105]:
df['total'].max()

70369

In [106]:
df['total'].nlargest(3).sum()

203002