In [1]:
import pandas as pd

In [105]:
with open('day2.txt') as f:
    indata = f.read()

In [106]:
data = [ x.split() for x in indata.split('\n') ]

In [107]:
op =      ['A', 'B', 'C']
me = ['X', 'Y', 'Z'] #X

In [108]:
df = pd.DataFrame(data, columns=['opponent', 'me'])
df.head()

  opponent me
0        A  Y
1        A  Z
2        A  X
3        B  X
4        A  Y

In [109]:
def calc_score(my_shape, op_shape):
    draw = op_shape == my_shape
    won = op_shape == (my_shape-1)%3
    shape_score = my_shape+1
    result_score = 3 if draw else [0,6][won]
    return shape_score + result_score

def score(row):
    return calc_score(me.index(row['me']),  op.index(row['opponent']))

In [110]:
df['score'] = df.apply(score, axis=1)

In [111]:
df['score'].sum()

10595

In [112]:
def determine_play(row):
    my_shape = me.index(row['me'])
    op_shape = op.index(row['opponent'])
    if my_shape == 0: # lose
        return op[(op_shape-1)%3]#me[(op_shape-1)%3]
    elif my_shape == 1: # draw
        return op[op_shape]#me[op_shape]
    elif my_shape == 2: # win
        return op[(op_shape+1)%3]#me[(op_shape+1)%3]

In [113]:
df['determined_play'] = df.apply(determine_play, axis=1)

In [114]:
# X,0=lose, Y,1=draw, Z,2=win
def deterministic_score(row):
    return calc_score(op.index(row['determined_play']),  op.index(row['opponent']))
df['second_score'] = df.apply(deterministic_score, axis=1)

In [115]:
df['second_score'].sum()

9541