In [69]:
indata = """2-4,6-8
2-3,4-5
5-7,7-9
2-8,3-7
6-6,4-6
2-6,4-8"""

In [38]:
with open('day4.txt', 'r') as f:
    indata = f.read()

In [39]:
data = [ x.split(',') for x in indata.split('\n') ]

In [77]:
def getRange(pair):
    l, r = map(int, pair.split('-'))
    return range(l, r+1)

In [78]:
count = 0
for line in data:
    l, r = map(set, map(getRange, line))
    count += (l.issubset(r) or l.issuperset(r))
count

599

In [79]:
count = 0
for line in data:
    l, r = map(set, map(getRange, line))
    count += any(l.intersection(r))
count

928

# Golf
Solved it now I do dumb stuff

In [93]:
ran = lambda p: range(*[(int(x), int(y)+1) for x,y in [p.split('-')]][0])

In [94]:
apply = lambda f: sum([ f(*x) for x in [ map(set, map(ran, line)) for line in data ] ])

In [95]:
apply(lambda l, r: (l.issubset(r) or l.issuperset(r)))

599

In [96]:
apply(lambda l, r: bool(l.intersection(r)))

928

## non set

In [106]:
import re

In [113]:
t = [ [int(y) for y in re.findall(r'\d+', x)] for x in indata.split('\n') ][0]
t

[14, 98, 14, 14]

In [133]:
numbers = [ [int(y) for y in re.findall(r'\d+', x)] for x in indata.split('\n') ]

In [135]:
sum([ (t[2] >= t[0] and t[3] <= t[1]) or (t[0] >= t[2] and t[1] <= t[3]) for t in numbers])

599